/*Reset básico */
texto-comum, titulo-site, subtitulo {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

/* Flexbox no Cabeçalho */
cabecalho-principal {
    display: flex;
    justify-content: space-between; /* Afasta o titulo do menu */
    align-items: center; /* Centraliza verticalmente */
    background-color: #f8f9fa;  
    padding: 20px;
    border-bottom: 2px solid #e9ecef;

     }
menu-navegacao {
    display: flex;
    gap: 15px; /* Espaço entre os links */

}
link-menu {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;

}

/* Layout Corpo da Página */
container-layout {
    display: flex;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o container na tela */

}
 
conteudo-principal {
    flex: 3; /* Ocupa 3 partes do espaço disponivel */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
barra-lateral {
    flex: 1; /* Ocupa 1 parte do espaço (fica mais estreito que o principal} */
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
}

/* Efeito de interatividade nos links */
link-menu {
    transition: background-color 0.3s, color 0.3s ease; /* Transição suave de 0.3 segundos */
}
link-menu:hover {
    background-color: #0056b3;
    color: #ffffff;
}